body {
    background-color: #fcedda !important; 
}
.container{
    max-width: 1080px !important;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, a, li, time{
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none !important;
    color: #000;
}
.sponsor__info a:hover {
    color: #000;
    opacity: .7;
}
li{
    list-style: none !important;
}
.logo{
    width: 74px;
    height: 74px;
    transition: all 0.4s ease-in-out;
    vertical-align: middle;
    -webkit-transform: translate3d(0, 0, 0);
}
.sticky_header .logo {
    width: 54px;
    height: 54px;
}
h2{
    font-size: 24px;
    font-weight: 700;
    color: #000000 !important;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em !important;
    color: #000000 !important;
}
.navbar {
    padding: 11px 0;
}
.sticky_header .navbar{
    background-color: #f2dfce !important;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
    padding: 8px 0;
}
nav ul li.nav-item a.nav-link{
    color: #000000 !important;
    font-size: 16px;
    padding: 0 !important; 
    position: relative;
    font-weight: 600;
}
.navbar-dark .navbar-toggler-icon{
    background-image: unset !important;
}
.navbar-dark .navbar-toggler{
    color: #000 !important;
    border: none !important;
    font-size: 24px;
}
.navbar-toggler:focus {
    box-shadow: unset !important;
}
header .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    right: 100%;
    bottom: -30%;
    background: #003057;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
header .navbar-nav .nav-link:hover:before, header .navbar-nav .active .nav-link:before {
    right: 0;
}
nav ul li.nav-item:not(:last-child){
    padding-right: 20px;
    margin-bottom: 3px;
}
.header__menu{
    height: 80px;
}
.dropdown-toggle::after {
    margin-left: 0.4em !important;
    vertical-align: middle !important;
}
.banner{
    background-image: radial-gradient(circle at center,#fcedda 0%,rgba(255,255,255,0) 100%),url(../images/erin-hervey-mYfyZ1KbNho-unsplash.jpg)!important;;
    padding: 130px 0 80px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.banner .btn:focus, section.banner .btn:active{
    box-shadow: unset !important;
}
.banner img{
    width: 320px;
    height: 320px;
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
}
.banner__img{
    margin: 0 auto;
}
.banner ul li a.btn.btn-primary{
    text-decoration: none;
    border-color: unset;
    border: none;
    font-size: 13px;
}
.banner ul li{
    list-style: none;
}
.banner ul{
    width: 170px;
    padding: 0;
    margin: 30px auto;
}
.banner h3{
    font-size: 20px;
    font-weight: 600;
}
.office__details{
    background-color: #f2dfce;
    color: #333;
    padding: 81px 0;
}
.text__box{
    border: 2px solid #000000; 
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #000000;
}
.btn__wrapper a.btn {
    border: 2px solid black;
    width: 100%;
    padding: 12px 14px;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    display: block;
    border-radius: 0;
}
.btn__wrapper a.btn:not(:last-child) {
    margin-bottom: 30px;
}
.office__details h2{
    font-size: 24px;    
    line-height: 32px;
    font-weight: 500;
    color: #000000;
}
section.office__details .col:not(:last-child){
    margin-right: 35px;
}
section.office__details .col {
    width: 320px;
}
section.office__details .col:nth-child(2){
    padding: 0;
}
.text__box li:not(:last-child){
    padding-bottom: 14px;
}
.text__box a{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.text__box h4{
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 600;
}
.office__details h1{
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
}
.party-office-list {
    padding: 0;
    margin: 0;
}
.party-office-list li {
    position: relative;
}
.party-office-list li:before {
    content: '👉';
    display: inline-block;
    margin-right: 5px;
}
.btn__wrapper a.btn:hover {
    border-color: #000000!important;
    color: #fff;
    background: black;
}
.text__box a:hover {
    color: #000;
}
section.note{
    padding: 81px;
    background-color: #fff1e0;
}
section.note p{
    padding: 20px;
    font-size: 13px;
    border: 2px solid #000;
    color: #000000;
    max-width: 624px;
    margin: 0 auto;
    line-height: 27px;
    font-weight: 500;
}
footer{
    background-color: #000000;
    padding: 15px 0 5px;
}
.btn__wrapper a.btn:focus {
    box-shadow: none;
}
.footer_links {
    margin: 0 0 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_links li a {
    font-size: 18px;
    color: #000;
    font-weight: 500;
}
.footer_links li a:hover {
    opacity: .7;
}
.footer_links li {
    padding: 0 12px;
}
/*........................................ sponsor page................................... */
.sponsor__info{
    padding-top: 187px;
    background-color: #f2dfce
}
.sponsor__info a{
    color: #000000;
    font-size: 17px;
}
.sponsor_inner h2{
    padding-bottom: 20px;
    margin: 0;
}
.sponsor_inner p{
    margin-bottom: 27px;
}
.table.row{
    margin: 0;
}
.table-content ul li span:before {
    border-style: solid;
    border-width: 3px;
    content: "";
    left: -14px;
    position: absolute;
    top: 9px;
    border-radius: 3px;
}
.table-content ul li span{
    position: relative;
    color: #000000;
}
.pricing_heading{
    padding: 16px !important;
   color: #fff;
   background-color: #133346 !important;
}
.pricing_heading h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #fff !important;
}
.pricing_heading span {
    font-size: 12px;
    line-height: 16px;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
}
.plan__price {
    font-size: 32px;
    line-height: 40px !important;
    padding: 10px 0 !important;
    color: #fff !important;
    margin: 0;
}
.plan__price span{
    font-size: 18px;
}
.sponsor__info .table-bg {
    background: #ffeede;
    box-shadow: 0 10px 25px 0 rgb(6 12 34 / 10%);
    height: 100%;
}
.table>:not(caption)>*>* {
    border: medium none;
}
.table-content{
    padding: 20px !important;
}
.table-content ul{
    padding: 0;
}
.table-content ul li{
    padding: 0 0 20px 15px;
    font-size: 14px;
}
.events-content .container{
    max-width: 800px;
    margin: 0 auto;
}
.events-content{
    background-color: #f2dfce;
    padding: 65px 0;
}
.event_details{
    padding-top: 160px !important;
}

.events-content .container{
    max-width: 800px !important;
    margin: 0 auto;
}
.events-content h2{
    line-height: 26px;
    margin-bottom: 25px;
    font-weight: 700;
}
.events-content h3{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #000000;
}
.events-content p, .events-content h4 {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.7em;
    color: #666;
}
.events-content h4 {
    font-weight: 700;
    line-height: 22px;
}
.events-content p.space{
    margin-bottom: 10px;
}
/*............................. hotels........................................... */
.hotels, .media-sec, .rentals{
    background-color: #f2dfce;
    padding-top: 187px;
}
.media-sec h1, .hotels h1, .rentals h1{
    font-size: 24px;
    font-weight: 700;
}
.media-sec, .rentals{
    padding-bottom: 65px;
}
.inner__content{
    max-width: 700px;
    margin: 0 auto;
}
.hotel_content{
    max-width: 700px;
    margin: 0 auto !important;
}
.hotel_content p:last-child{
    margin-bottom: 27px;
}
.hotel_details .col-12{
    margin-bottom: 25px;
    /* display: flex;
    align-items: center; */
}
.hotel_details-inner{
    border: 2px solid #333;
    padding: 40px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hotel-name {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    padding-bottom: 15px;
    margin: 0;
}
.address{
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 1.7em;
}
p.info, a.hotel_info_box p{
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 20px;
    line-height: 1.9em;
}
.hotel_details .btn {
    background: transparent;
    color: #000;
    border: 2px solid #000;
    padding: 10px 40px;
}
.hotel_details .btn.btn-primary:hover{
    border-color: #000000;
    background-color: #000000;
}
.hotel_details{
    padding-top: 27px;
    padding-bottom: 41px;
}
a.hotel_info_box{
    color: #000;
}
a.hotel_info_box:hover{
    color: #000;
}
.hotel_details .btn:focus{
    background-color: #000 !important;
    border-color: #000000 !important;
    box-shadow: unset !important;
}
.hotel_details .btn:hover:after, .hotel_details .btn:focus:after {
    color: #fff !important;
}
.hotel_details .btn:after {
    position: relative;
    content: '\f594';
    top: 0;
    left: 6px;
    bottom: 0;
    right: 0;
    color: #000;
    width: 20px;
    font-family: 'FontAwesome';
    height: 20px;
}
.hotel_details a.booking-btn{
    position: relative;
}
section.rentals p{
    font-weight: 500;
}
.rentals a {
    color: #2ea3f2;
}
/* ..........................event sec................. */
.events .nav-item > .nav-link {
    border: 1px solid #212529;
    border-radius: 100px;
    margin: 0 10px;
    background: #212529;
    font-size: 18px;
    padding: 10px 40px;
    min-width: 170px;
}
.events .nav{
    width: 100%;
}
.events table th{
    padding: 20px;
}
.events{
    padding: 80px 0;
}
.sec__detail{
    margin-bottom: 30px;
    margin-top: 50px;
}
.events .nav-tabs .nav-link.active {
    color: #212529;
    background-color: #f7941d;
    border-radius: 100px;
    margin: 0 10px;
    border-color: #f7941d;
}
.events .nav-item > .nav-link:hover {
    color: #fff;
    border-color: #212529;
}
.events .nav-item > .nav-link.active:hover {
    color: #212529;
    border-color: #f7941d;
}
.events .nav-tabs{
    border: none;
    margin-bottom: 40px;
}
.events .nav-link{
    color: #fff;
}
.schedule-item {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color ease-in-out 0.3s;
    align-items: center;
}
.schedule-item:not(:last-child) {
    border-bottom: 1px solid #c5c5c5;
}
.schedule-item:hover {
    background-color: #f2dfce;
}
.schedule-item h4, .schedule-item h4 > a {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #0e1b4d;
}
ul.navbar-nav {
    flex-wrap: wrap;
    justify-content: center;
}
.dropdown-menu[data-bs-popper]{
    right: 0 !important;
    left: auto!important;
}
.dropdown-item{
    font-size: 14px;
    color: #000000 !important;
}
.nav-link.dropdown-toggle:focus {
    outline: none !important;
}
.dropdown-item:focus, .dropdown-item:hover{
    color: #000000 !important;
    background: #fcedda !important;
}
.entire__schedule {
    max-width: 200px;
    margin: 0 auto;
}
.entire__schedule .btn {
    background: #212529;
    border-color: #212529 !important;
    color: #fff !important;
}
.live__stream iframe{
    position:absolute;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: inherit !important;
    }
}
@media only screen and (max-width: 1200px){
    .container {
        max-width: 95% !important;
        margin: 0 auto;
    }
    section.office__details .col:not(:last-child) {
        margin-right: 20px;
    }
    nav ul li.nav-item:not(:last-child){
        padding-right: 15px;
    }
   
}
@media only screen and (max-width: 1100px){
    nav ul li.nav-item a.nav-link {
        font-size: 14px;
    }
    .hotel_details-inner {
        border: 2px solid #333;
        padding: 40px 22px;
    }
}
@media only screen and (max-width: 1024px){
    section.office__details .row{
        align-items: flex-start !important;
    }
    .hotels, .media-sec, .rentals, .sponsor__info {
        padding-top: 170px;
    }
    .hotel_details .col-12 {
        /* width: 50%;
        margin: 0 auto;
        padding-bottom: 30px;
        flex: auto;
        display: block; */
    }
    .hotel_details{
        flex-wrap: wrap;
        width: 100%;
        margin: auto !important;
    }
    tbody.col{
        width: 33%;
    }
}
@media only screen and (max-width: 990px){
    .navbar-expand-md .navbar-collapse.collapse:not(.show) {
        display: none !important;
    }

    .navbar-expand-md .navbar-collapse.collapsing, .navbar-expand-md .navbar-collapse.collapse.show {
        display: block !important;
    }
    .navbar-expand-md .navbar-toggler{
        display: block !important;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: column !important;
    }
    .navbar-collapse{
        flex-basis: 100% !important;
    }

    nav ul li.nav-item:not(:last-child) {
        padding: 0;
    }
    nav ul li.nav-item a.nav-link {
        padding: 10px 0 !important;
    }
    nav ul li.nav-item:not(:last-child) a.nav-link {
        border-bottom: 1px solid rgba(0,0,0,.07);
    }
    .navbar-nav {
        margin-top: 10px;
    }
    header .navbar-nav .nav-link:hover:before, header .navbar-nav .active .nav-link:before{
        display: none;
    }
    .navbar>.container{
        flex-wrap: wrap !important;
    }
    .fixed-top{
        background-color: #f2dfce;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu{ 
        background-color: transparent !important;
        border: none !important;
        padding-top: 0 !important;
     }
     .dropdown-item{
         font-size: 14px !important;
         font-weight: 500 !important;
         padding: 5px 1rem !important;
     }
     .dropdown-item:focus, .dropdown-item:hover{
        background-color: transparent !important;
     }
     .hotel_details-inner{
        padding: 40px 30px;
     }
}
@media only screen and (max-width: 980px){
    section.office__details .row{
        flex-direction: column;
    }
    section.office__details .row .col {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .btn__wrapper a.btn:not(:last-child) {
        margin-bottom: 20px;
    }
    section.office__details .col:nth-child(2){
        padding: 0 10px 30px 10px;
    }
    .banner img{
        width: 40%;
        height: auto;
    }
    section.note{
        padding: 60px 0; 
    }
    /* .hotel_details-inner{
        padding: 30px 20px;
    } */
    nav ul li.nav-item a.nav-link {
        font-size: 14px;
    }
}
@media only screen and (max-width: 880px){
    .office__details h1 {
        font-size: 29px;
        line-height: 39px;
    }
    .office__details h2 {
        font-size: 22px;
        line-height: 30px;
    }  
    .footer_links li a {
        font-size: 16px;
    }  
    section.note p {
        max-width: 90%;
    }
    ul.footer_links{
        flex-wrap: wrap;
    }
    .schedule-item time {
        font-size: 14px;
    }
    nav ul li.nav-item:not(:last-child) {
        padding-right: 20px;
    }

}
@media only screen and (max-width: 810px){
    .footer_links li {
        padding: 5px 12px;
    }
}
@media only screen and (max-width: 768px){
    .office__details {
        padding: 60px 0 40px 0;
    }
    .banner {
        padding: 160px 0 80px 0;
    }
    .inner__content {
        max-width: 92%;
    }
    tbody.col{
        width: 50%;
    }
    section.events-content .row{
        width: 90%;
        margin: 0 auto;
    }
    
}
@media only screen and (max-width: 767px){
    .logo {
        width: 54px;
        height: 54px;
    }
    .footer_links li {
        padding: 5px 12px;
    }
    .footer_links {
        margin: 0 0 15px;
    }
    .events-content {
        padding: 30px 0;
    }
    .schedule-item h4, .schedule-item h4 > a {
        margin-top: 5px;
        line-height: 22px;
    }
    .events {
        padding: 40px 0;
    }    
    .schedule-item time {
        font-size: 16px;
    }
    .events .nav-tabs .nav-link.active, .events .nav-item > .nav-link {
        margin: 0 5px;
    }
    .events .nav-item > .nav-link {
        font-size: 14px;
        padding: 10px 30px;
        min-width: 130px;
    }
    .events .nav-tabs {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 600px){
    /* .hotel_details .col-4{
        width: 100%;
    } */
    .hotel_details .btn{
        padding: 7px 25px;
    }
    tbody.col{
        width: 100%;
    }
    .hotels, .media-sec, .rentals, .sponsor__info {
        padding-top: 140px;
    }
    .banner img {
        width: 70%;
    }
    .events .nav-item > .nav-link{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 480px){
    .hotel-name{
        font-size: 18px;
    }
    .events .nav-tabs {
        display: block;
    }
    .events .nav-item:not(:last-child) {
        margin-bottom: 15px;
    }
    .events .nav-item > .nav-link {
        font-size: 16px;
        padding: 12px 30px;
        min-width: inherit;
    }
}
